body {
    background-color: #ffffff;
}


.card {
    background-color: #0a3859fe;
    color: white;
    border-radius: 50px;
    text-align: center !important;
    height: 50px;

    p {
        font-size: 20px;
        position: relative;
        top: 0px;
        text-align: center !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #b6b6b6;
        left: 12px;
        font-weight: 500;
    }

    h5 {
        text-align: center !important;
        top: 5px;
        position: relative;
    }
}

.table-container {
    padding: 20px;
    text-align: center !important;
}

.table thead th {
    background-color: #0a3859fe;
    color: white;
    text-align: center !important;

}

.table tr {
    background-color: #a2b6d1fe;
    color: #0a3859fe;
    font-weight: 500;
    font-size: 18px;
}

.table tbody tr:hover {
    background-color: #afc5e0fe;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar button {
    position: relative;
    top: -10px;
    color: #0a3859fe;
    font-weight: 600;
    border: solid 0.5px #0a3859fe;

    button:hover {
        background-color: #0a3859fe;

    }
}

.navbar button:hover {
    background-color: #0a3859fe;
    color: #ffffff;
    border: solid 0.5px #0a3859fe;
}

.navbar button:active {
    background-color: #0a3859fe !important;
    color: #ffffff !important;
    border: solid 0.5px #0a3859fe !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.74) !important;
}

.navbar button:focus {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}      
.modal-footer button.btn.btn-primary {
    background-color: #0a3859fe !important;
    border: solid 0.5px #0a3859fe;

}
.modal-footer button:hover.btn.btn-primary {
    background-color: #082f4bfe !important;

}
.modal-footer button:active.btn.btn-primary{
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
#dropdownMenuButton{
    background-color: #ffffff;
    color: #082f4bfe;
    position: relative;
    top: -9px;

}
.dropdown-menu {
    max-height: 200px;
    width: 195px;
    border-radius: 10px;
    overflow-y: auto;


}


.dropdown-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dropdown-menu input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.dropdown-menu label {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu label:hover {
    background-color: #03274c7c;
    color: #ffffff;
}
#GPA #dropdownMenuButton{
    position: relative;
    left: 300px;
    top: -18px;
}
#Subject #dropdownMenuButton{
    width: 200px;

}